{% extends 'base.html' %}
{% block title %}
CONTACT US
{% endblock %}
{% block head %}
<script src="../../static/plugins/assets/modules/moment.min.js"></script>
{% endblock %}
{% block user %}
{% if authenticated == True %}
{% include 'topbar.html' %}
{% endif %}
{% endblock %}
{% block navigation %}
<li class="nav-item active">
    <a href="#" type="button" class="nav-link">
        <i class="fas fa-envelope-open-text br"></i>
        Contact Us
    </a>
</li>
{% endblock %}

{% block main %}
<section class="section contact">
    {% include 'alerts.html' %}
    <div class="section-body">
        <div class="header">
            <h2 class="section-title firstTittle">Contact Us</h2>
            <nav aria-label="breadcrumb bg-none">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" onclick="window.history.back()"><i
                                class="fas fa-backward text-warning"></i> Back</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="far fa-envelope"></i> Contact US
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-box card h-100">
                            <i class="fas fa-map-marker-alt text-danger my-3"></i>
                            <h3>Address</h3>
                            <p> Woodlands Rd,<br>Hurlingham, Nairobi</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card h-100">
                            <i class="las la-phone-alt text-danger my-3"></i>
                            <h3>Call Us</h3>
                            <p>+254 111052222<br>+254 727666444</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="info-box card h-100">
                            <i class="fas fa-envelope-open-text text-danger my-3"></i>
                            <h3>Email Us</h3>
                            <p> info@kmpdc.go.ke<br>recruitment@example.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card h-100">
                            <i class="fas fa-clock text-danger my-3"></i>
                            <h3>Open Hours</h3>
                            <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card p-4 messageMail">
                    <div class="money-spinner mx-auto text-center" id="messageSpinner" style="display: none;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                            alt="Loading Gif" style="height: 100px; width: 100px;" class="img-fluid">
                    </div>
                    <form method="post" class="php-email-form" id="messageForm">
                        <div class="row">
                            {% if authenticated == False %}
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email">
                            </div>
                            {% endif %}
                            <div class="col-md-12 my-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="col-md-12">
                                <textarea class="w-100" name="message" id="message" rows="6" placeholder="Message"
                                    required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit" class="my-3 b btn-primary">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>
        <h2 class="section-title">
            Location
        </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8066475017536!2d36.796250914158364!3d-1.2902987990588988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f113f82a35835%3A0x726e34b13a024243!2sMEDICAL%20PRACTITIONERS%20%26%20DENTISTS%20BOARD!5e0!3m2!1sen!2ske!4v1680542238080!5m2!1sen!2ske"
                        width="auto" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        const $messageForm = $('#messageForm');
        const $messageSpinner = $('#messageSpinner');

        $messageForm.on('submit', (e) => {
            e.preventDefault();

            if ($('#message').val() === '' || $('#subject').val() === '') {
                alert('Message and Subject can not be empty');
                return false;
            }
            $messageSpinner.show(200);
            $.ajax({
                type: 'POST',
                url: '/SendMessage/',
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    subject: $('#subject').val(),
                    message: $('#message').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    $('#name, #email, #subject, #message').val('');
                    $messageSpinner.hide();
                    if (data['success'] == true) {
                        iziToast.show({
                            theme: 'dark',
                            backgroundColor: '#239B56',
                            icon: 'las la-check-circle',
                            title: 'Yeah',
                            message: data['message'],
                            position: 'topRight',
                            progressBarColor: '#F4F6F7',
                        });
                    } else {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'las la-exclamation',
                            title: 'Error',
                            message: data['error'],
                            position: 'topRight',
                            progressBarColor: '#ff0800',
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                    $messageSpinner.hide();
                }
            });
        });
    })
</script>
{% endblock %}