{% extends 'base.html' %}
{% block title %}
DASHBOARD
{% endblock %}
{% block head %}
<script src="../../static/plugins/assets/modules/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block user %}
{% if authenticated == True %}
{% include 'topbar.html' %}
{% endif %}
{% endblock %}

{% block navigation %}
{% if authenticated == True %}
<li class="nav-item active">
    <a href="/dashboard/" type="button" class="nav-link">
        <i class="fas fa-home text-danger"></i>
        Dashboard
    </a>
</li>
{% else %}
<li class="nav-item active">
    <a href="/" type="button" class="nav-link">
        <i class="fas fa-home text-danger"></i>
        Home
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link" data-toggle="modal" data-target="#signIn"><i class="fas fa-user"></i><span>Sign
            In</span></a>
</li>
{% endif %}
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>E-Procurement</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                                    aria-controls="home" aria-selected="true">
                                    {% if state == 'Vendor' %}
                                    New Tenders ({{all_tenders|length}})
                                    {% elif state == 'Prospect' %}
                                    New Tenders ({{open_tenders|length}})
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link brs" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                                    aria-controls="profile" aria-selected="false">Submitted
                                    Tenders({{all_submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                aria-labelledby="home-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="open_table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Tender No.
                                                </th>
                                                <th>Process Type</th>
                                                <th>Tender Type</th>
                                                <th>Status</th>
                                                <th>Bidding Deadline</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        {% if state == 'Vendor' %}
                                        <tbody>
                                            {% for tender in all_tenders %}
                                            <tr>
                                                <td>{{tender.No}}</td>
                                                <td>{{tender.Process_Type}}</td>
                                                <td>{{tender.TenderType}}</td>
                                                <td>
                                                    <div class="badge badge-secondary">{{tender.Status}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <span
                                                        id="Quotation_Deadline{{tender.No}}">{{tender.Quotation_Deadline}}</span>
                                                    at <span class="text-danger"
                                                        id="Expected_Closing_Time{{tender.No}}">{{tender.Expected_Closing_Time}}</span>
                                                </td>
                                                <td><a href="/tdr/{{tender.No}}/" class="btn btn-primary">Detail</a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#Quotation_Deadline{{tender.No}}")
                                                            .empty().append(moment(
                                                                    '{{tender.Quotation_Deadline}}',
                                                                    "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                        $("#Expected_Closing_Time{{tender.No}}")
                                                            .empty().append(moment(
                                                                    '{{tender.Expected_Closing_Time}}',
                                                                    "h:mm:ss a")
                                                                .format(
                                                                    'h:mm a'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% elif state == 'Prospect' %}
                                        <tbody>
                                            {% for tender in open_tenders %}
                                            <tr>
                                                <td>{{tender.No}}</td>
                                                <td>{{tender.Process_Type}}</td>
                                                <td>{{tender.TenderType}}</td>
                                                <td>
                                                    <div class="badge badge-secondary">{{tender.Status}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <span
                                                        id="Quotation_Deadline{{tender.No}}">{{tender.Quotation_Deadline}}</span>
                                                    at <span class="text-danger"
                                                        id="Expected_Closing_Time{{tender.No}}">{{tender.Expected_Closing_Time}}</span>
                                                </td>
                                                <td class="text-center"><a href="/tdr/{{tender.No}}/"
                                                        class="btn btn-primary">Detail</a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#Quotation_Deadline{{tender.No}}")
                                                            .empty().append(moment(
                                                                    '{{tender.Quotation_Deadline}}',
                                                                    "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                        $("#Expected_Closing_Time{{tender.No}}")
                                                            .empty().append(moment(
                                                                    '{{tender.Expected_Closing_Time}}',
                                                                    "h:mm:ss a")
                                                                .format(
                                                                    'h:mm a'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-1">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Tender No.
                                                </th>
                                                <th>Status</th>
                                                <th>Process Type</th>
                                                <th>Sent for Evaluation</th>
                                                <th>Tender Opening Date</th>
                                                <th>Tender Closing Date</th>
                                                <th>Tender Security Institution</th>
                                                <th>Tender Security Amount</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for submit in all_submitted %}
                                            <tr>
                                                <td>{{submit.Tender_No_}}</td>
                                                <td>
                                                    <div class="badge badge-secondary">{{submit.Tender_Status}}</div>
                                                </td>
                                                <td>{{submit.Type}}</td>
                                                <td>
                                                    {% if submit.Sent_for_Evaluation == True %}
                                                    Yes
                                                    {% elif submit.Sent_for_Evaluation == False %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td id="TenderOpeningDate{{submit.Tender_No_}}">
                                                    {{submit.TenderOpeningDate}}
                                                </td>
                                                <td id="TenderClosingDate{{submit.Tender_No_}}">
                                                    {{submit.TenderOpeningDate}}
                                                </td>
                                                <td>{{submit.Tender_Security_Institution}}</td>
                                                <td>{{submit.Tender_Security_Amount}}</td>
                                                <td class="text-center"><a href="/tdr/{{submit.Tender_No_}}/"
                                                        class="btn btn-primary">Detail</a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#TenderOpeningDate{{submit.Tender_No_}}")
                                                            .empty().append(moment(
                                                                    '{{submit.TenderOpeningDate}}',
                                                                    "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                        $("#TenderClosingDate{{submit.Tender_No_}}")
                                                            .empty().append(moment(
                                                                    '{{submit.TenderClosingDate}}',
                                                                    "YYYY-MM-DD, h:mm:ss a")
                                                                .format(
                                                                    'Do MMM YYYY, h:mm a'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if state == 'Vendor' %}
        <div class="row gx-1">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="headerTitle">New Procurement Requests</h4>
                        <div class="card-header-action">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Options</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item has-icon" id="new-tab"><i class="fas fa-edit"></i>
                                        Open
                                        ({{total_open}})</a>
                                    <a href="#" class="dropdown-item has-icon" id="submitted-tab"><i
                                            class="far fa-eye"></i>
                                        My Submissions ({{total_submitted}})</a>
                                    <div class="dropdown-divider"></div>
                                    <span class="dropdown-item has-icon text-danger"><i class="fa fa-lock"></i>
                                        Total Closed ({{total_closed}})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane tab-panes active" id="new-content">
                                <div class="row gx-2" id="card-container">
                                    <div class="col-md-3 dynamic">
                                        <div class="card-box bg-blue">
                                            <div class="inner">
                                                <h3> {{open_restricted|length}} </h3>
                                                <p>Restricted Tenders </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dynamic">
                                        <div class="card-box bg-green">
                                            <div class="inner">
                                                <h3> {{open_quotation|length}} </h3>
                                                <p>Request For Quotation </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-file-invoice" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dynamic">
                                        <div class="card-box bg-orange">
                                            <div class="inner">
                                                <h3> {{open_interest|length}} </h3>
                                                <p>Expression of Interest </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-file-signature" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dynamic">
                                        <div class="card-box bg-red">
                                            <div class="inner">
                                                <h3> {{open_proposal|length}} </h3>
                                                <p> Request For Proposal </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tab-panes" id="submitted-content">
                                {% if total_submitted > 0 %}
                                <canvas id="Chart2"></canvas>
                                <script>
                                    const pending_label = [
                                        'Open Tender',
                                        'Restricted Tender',
                                        'Request For Quotation',
                                        'Expression For Interest',
                                        'Request For Proposal',
                                    ];

                                    var open_tender = '{{submitted_open|length}}'
                                    var restricted_tender = '{{submitted_restricted|length}}'
                                    var request_for_quotation = '{{submitted_quotation|length}}'
                                    var expression_of_interest = '{{submitted_interest|length}}'
                                    var request_for_proposal = '{{submitted_proposal|length}}'
                                    const pending_data = {
                                        labels: pending_label,
                                        datasets: [{
                                            label: 'Submitted Bids',
                                            backgroundColor: [
                                                '#ff5e6c',
                                                '#DFFF00',
                                                '#8076a3',
                                                '#FFBF00',
                                                '#9FE2BF',
                                            ],
                                            borderColor: 'rgb(255, 99, 132)',
                                            data: [open_tender, restricted_tender,
                                                request_for_quotation,
                                                expression_of_interest,
                                                request_for_proposal
                                            ],
                                        }]
                                    };

                                    const pending_config = {
                                        type: 'bar',
                                        data: pending_data,
                                        options: {}
                                    };

                                    const Chart2 = new Chart(
                                        document.getElementById('Chart2'),
                                        pending_config
                                    );
                                </script>
                                {% else %}
                                <div class="empty-state">
                                    <div class="empty-state-icon">
                                        <i class="fas fa-question"></i>
                                    </div>
                                    <h2>{{total_submitted}} submitted bids.</h2>
                                    <p class="lead">
                                        Make a submission to any of the open procurement requests to
                                        view
                                        the summary.
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</section>
<script>
    $(document).ready(function () {
        $('.tab-panes').not('.active').hide();
        const $headerTitle = $('.headerTitle');
        var open_total = '{{total_open}}';
        var submitted_total = '{{total_submitted}}';
        var cardCount = $('#card-container').children().length;
        console.log(cardCount)
        if (cardCount == 1) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-12');
        } else if (cardCount == 2) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-6');
        } else if (cardCount == 3) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-4');
        } else {
            $('.dynamic').addClass('col-md-3');
        }
        $('#new-tab').click(function () {
            $('#new-content').show(1000);
            $('#submitted-content').hide(800);
            $headerTitle.empty().append('New Procurement Requests' + ' ' + '(' + open_total + ')');

        });
        $('#submitted-tab').click(function () {
            $('#new-content').hide(800);
            $('#submitted-content').show(1000);
            $headerTitle.empty().append('My Submissions' + ' ' + '(' + submitted_total + ')');
        });
        if (!$.fn.DataTable.isDataTable('#open_table')) {
            $('#open_table').DataTable({
                "pageLength": 5,
                "order": [
                    [0, "desc"]
                ]
            });
        }
    });
</script>
{% endblock %}