{% extends 'base.html' %}
{% block title %}
DASHBOARD
{% endblock %}
{% block head %}
<script src="../../static/plugins/assets/modules/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block user %}
{% if authenticated == True %}
{% include 'topbar.html' %}
{% endif %}
{% endblock %}

{% block navigation %}
{% if authenticated == True %}
<li class="nav-item active">
    <a href="/dashboard/" type="button" class="nav-link">
        <i class="fas fa-home br"></i>
        Job Vacancies
    </a>
</li>
{% else %}
<li class="nav-item active">
    <a href="/" type="button" class="nav-link">
        <i class="fas fa-home text-danger"></i>
        Home
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link" data-toggle="modal" data-target="#signIn"><i class="fas fa-user"></i><span>Sign
            In</span></a>
</li>
{% endif %}
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>E-Recruitment Portal</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                                    aria-controls="home" aria-selected="true">
                                    Vacant Positions ({{open_vacancy|length}})
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link brs" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                                    aria-controls="profile" aria-selected="false">Submitted
                                    Applications({{submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                aria-labelledby="home-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="open_table">
                                        <thead>
                                            <tr>
                                                <th>Job Title</th>
                                                <th>Job Grade</th>
                                                <th>Appointment Type</th>
                                                <th>Closing Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for open in open_vacancy %}
                                            <tr>
                                                <td>{{open.Description}}</td>
                                                <td>{{open.Job_Grade}}</td>
                                                <td>
                                                    <div class="badge badge-secondary">{{open.Appointment_Type}}</div>
                                                </td>
                                                <td id="open{{open.No_}}">{{open.End_Date}}</td>
                                                <td><a href="/details/{{open.Job_ID}}/{{open.No_}}"
                                                        class="btn btn-primary">Detail</a></td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#open{{open.No_}}")
                                                            .empty().append(moment(
                                                                    '{{open.End_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-1">
                                        <thead>
                                            <tr>
                                                <th>Job</th>
                                                <th>Submitted</th>
                                                <th>Qualified</th>
                                                <th>Shortlisted</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for submit in submitted %}
                                            <tr>
                                                <td>{{submit.Job}}</td>
                                                <td>
                                                    <div class="badge badge-secondary">{{submit.Submitted}}</div>
                                                </td>
                                                <td>{{submit.Qualified}}</td>
                                                <td>{{submit.Shortlist}}</td>
                                                <td class="d-flex justify-content-center align-items-center gap-3">
                                                    <div class="">
                                                        <a href="/details/{{submit.Job_ID}}/{{submit.Need_Code}}"
                                                            class="btn btn-primary"><i class="fas fa-file-invoice"></i> View</a>
                                                    </div>

                                                    <!-- <form action="{% url 'FnWithdrawJobApplication' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="needCode" value="{{res.Need_Code}}">
                                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                                    </form> -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-1">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="headerTitle">Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane tab-panes active" id="new-content">
                                <div class="row gx-2" id="card-container">
                                    <div class="col-md-4 dynamic">
                                        <div class="card-box bg-blue">
                                            <div class="inner">
                                                <h3> {{open_vacancy|length}} </h3>
                                                <p>Open Vacancies</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 dynamic">
                                        <div class="card-box bg-green">
                                            <div class="inner">
                                                <h3> {{submitted|length}} </h3>
                                                <p>Submitted Applications</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-file-invoice" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 dynamic">
                                        <div class="card-box bg-red">
                                            <div class="inner">
                                                <h3> Today </h3>
                                                <p id="datetime"> Today </p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tab-panes" id="submitted-content">
                                {% if total_submitted > 0 %}
                                <canvas id="Chart2"></canvas>
                                <script>
                                    const pending_label = [
                                        'Open Tender',
                                        'Restricted Tender',
                                        'Request For Quotation',
                                        'Expression For Interest',
                                        'Request For Proposal',
                                    ];

                                    var open_tender = '{{submitted_open|length}}'
                                    var restricted_tender = '{{submitted_restricted|length}}'
                                    var request_for_quotation = '{{submitted_quotation|length}}'
                                    var expression_of_interest = '{{submitted_interest|length}}'
                                    var request_for_proposal = '{{submitted_proposal|length}}'
                                    const pending_data = {
                                        labels: pending_label,
                                        datasets: [{
                                            label: 'Submitted Bids',
                                            backgroundColor: [
                                                '#ff5e6c',
                                                '#DFFF00',
                                                '#8076a3',
                                                '#FFBF00',
                                                '#9FE2BF',
                                            ],
                                            borderColor: 'rgb(255, 99, 132)',
                                            data: [open_tender, restricted_tender,
                                                request_for_quotation,
                                                expression_of_interest,
                                                request_for_proposal
                                            ],
                                        }]
                                    };

                                    const pending_config = {
                                        type: 'bar',
                                        data: pending_data,
                                        options: {}
                                    };

                                    const Chart2 = new Chart(
                                        document.getElementById('Chart2'),
                                        pending_config
                                    );
                                </script>
                                {% else %}
                                <div class="empty-state">
                                    <div class="empty-state-icon">
                                        <i class="fas fa-question"></i>
                                    </div>
                                    <h2>{{total_submitted}} submitted bids.</h2>
                                    <p class="lead">
                                        Make a submission to any of the open procurement requests to
                                        view
                                        the summary.
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.tab-panes').not('.active').hide();
        const $headerTitle = $('.headerTitle');
        var open_total = '{{total_open}}';
        var submitted_total = '{{total_submitted}}';
        var cardCount = $('#card-container').children().length;
        console.log(cardCount)
        if (cardCount == 1) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-12');
        } else if (cardCount == 2) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-6');
        } else if (cardCount == 3) {
            $('.dynamic').removeClass('col-md-3');
            $('.dynamic').addClass('col-md-4');
        } else {
            $('.dynamic').addClass('col-md-3');
        }
        $('#new-tab').click(function () {
            $('#new-content').show(1000);
            $('#submitted-content').hide(800);
            $headerTitle.empty().append('New Procurement Requests' + ' ' + '(' + open_total + ')');

        });
        $('#submitted-tab').click(function () {
            $('#new-content').hide(800);
            $('#submitted-content').show(1000);
            $headerTitle.empty().append('My Submissions' + ' ' + '(' + submitted_total + ')');
        });
        if (!$.fn.DataTable.isDataTable('#open_table')) {
            $('#open_table').DataTable({
                "pageLength": 5,
                "order": [
                    [0, "desc"]
                ]
            });
        }
        const options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hour12: true,
            timeZone: 'UTC'
        };
        const date = new Date();
        const formattedDateTime = date.toLocaleString('en-US', options);
        document.getElementById("datetime").innerHTML = formattedDateTime;

    });
</script>
{% endblock %}