{% extends 'base.html' %}
{% block title %}
OPEN VACANCIES
{% endblock %}
{% block head %}
<script src="../../static/plugins/assets/modules/moment.min.js"></script>
{% endblock %}
{% block navigation %}
<li class="nav-item active">
    <a href="#" type="button" class="nav-link">
        <i class="fas fa-home br"></i>
        Home
    </a>
</li>
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-body">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="hero third_color text-white">
                    <div class="hero-inner">
                        {% if open_vacancy|length > 0 %}
                        <h2>
                            Exciting job opportunities available!
                        </h2>
                        <p class="lead">
                            Sign in to our recruitment portal to view job
                            descriptions and apply. Don't miss out on the chance to join our team and build successful
                            partnerships.
                        </p>
                        {% else %}
                        <h2>
                            Welcome to the KEPHIS jobs portal !
                        </h2>
                        <p class="lead">
                            We appreciate your interest in joining our team. Unfortunately, we do not currently have any
                            open vacancies. However, we encourage you to sign up for our notification system to be
                            alerted as soon as new opportunities become available.
                        </p>
                        {% endif %}
                        <div class="mt-4">
                            <a href="/register/" class="btn btn-outline-white btn-lg btn-icon icon-left"><i
                                    class="far fa-user"></i> Setup Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if open_vacancy|length > 0 %}
        <div class="row" style="padding-bottom: 5rem;">
            <div class="col-12">
                <div class="card">
                    <h2 class="section-title mx-3">Vacant Positions List ({{open_vacancy|length}})
                    </h2>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Job Grade</th>
                                        <th>Appointment Type</th>
                                        <th>Closing Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for open in open_vacancy %}
                                    <tr>
                                        <td>{{open.Description}}</td>
                                        <td>{{open.Job_Grade}}</td>
                                        <td>
                                            <div class="badge badge-secondary">{{open.Appointment_Type}}</div>
                                        </td>
                                        <td id="open{{open.No_}}">{{open.End_Date}}</td>
                                        <td><a href="/details/{{open.Job_ID}}/{{open.No_}}"
                                                class="btn btn-primary">Detail</a></td>
                                        <script>
                                            $(document).ready(function () {
                                                $("#open{{open.No_}}")
                                                    .empty().append(moment(
                                                            '{{open.End_Date}}', "YYYY-MM-DD")
                                                        .format(
                                                            'Do MMM YYYY'));
                                            })
                                        </script>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row" style="padding-bottom: 7rem;"></div>
        {% endif %}

    </div>
</section>
{% endblock %}