{% extends 'base.html' %}
{% block title %}
OPEN TENDERS
{% endblock %}
{% block head %}
<script src="../../static/plugins/assets/modules/moment.min.js"></script>
{% endblock %}
{% block navigation %}
<li class="nav-item active">
    <a href="#" type="button" class="nav-link">
        <i class="fas fa-home text-danger"></i>
        Home
    </a>
</li>
{% endblock %}

{% block main %}
<section class="section">
    {% include 'alerts.html' %}
    <div class="section-body">
        <h2 class="section-title">Open Tenders ({{open_tenders|length}})
        </h2>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Tender No.
                                        </th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Tender Opening Date</th>
                                        <th>Tender Closing Date / Time</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tender in open_tenders %}
                                    <tr>
                                        <td>{{tender.No}}</td>
                                        <td>{{tender.Title}}</td>
                                        <td>
                                            <div class="badge badge-secondary">{{tender.Status}}</div>
                                        </td>
                                        <td id="TenderOpeningDate{{tender.No}}">{{tender.TenderOpeningDate}} </td>
                                        <td id="TenderClosingDate{{tender.No}}">{{tender.TenderClosingDate}}</td>
                                        <td><a href="/tdr/{{tender.No}}/" class="btn btn-primary">Detail</a></td>
                                        <script>
                                            $(document).ready(function () {
                                                $("#TenderOpeningDate{{tender.No}}")
                                                    .empty().append(moment(
                                                            '{{tender.TenderOpeningDate}}', "YYYY-MM-DD")
                                                        .format(
                                                            'Do MMM YYYY'));
                                                $("#TenderClosingDate{{tender.No}}")
                                                    .empty().append(moment(
                                                            '{{tender.TenderClosingDate}}',
                                                            "YYYY-MM-DD, h:mm:ss a")
                                                        .format(
                                                            'Do MMM YYYY, h:mm a'));
                                            })
                                        </script>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}